.HomePage {
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-height: 100vh;
  background-color: #ff8a8a;

  &-buttonContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
  &-button {
    width: 250px;
    height: 100px;
    margin-bottom: 30px;
    border: 5px solid white;
    border-radius: 5px;
    background-color: #ff8a8a;
    font-family: Stencil Std, fantasy;
    color: white;
    font-size: xx-large;
    box-shadow: 0 5px 15px black;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: #a16262;
      box-shadow: 0 8px 20px #a16262;
      transform: translateY(-3px);
    }
  }
}
